# MySQL Read
MYSQL_READ_HOST=localhost
MYSQL_READ_PORT=3306
MYSQL_READ_USER=bookstore_read
MYSQL_READ_PASSWORD=

# MySQL Write
MYSQL_EDIT_HOST=localhost
MYSQL_EDIT_PORT=3306
MYSQL_EDIT_USER=bookstore_edit
MYSQL_EDIT_PASSWORD=

MYSQL_DB_NAME=bookstore_db

# MongoDB
MONGO_URI=mongodb://user:password@host/?readPreference=primary&ssl=false&authMechanism=DEFAULT&authSource=admin
MONGO_DB_NAME=user
MONGO_COLLECTION_NAME=bookstore_log
